.navbar {
    background-color: #1b132764;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0cqi;

}

@keyframes g2{
  to {background-position-x: calc(1*var(--s));}
}


.navbar-brand {
font-size: 1.5rem;
font-weight: bold;
}

.navbar-links {
display: flex;
gap: 2rem;
}

.nav-link {
font-size: 1.5rem;
font-family: "Exo 2", sans-serif;
padding: 0.5rem 1rem;
border-radius: 4px;
transition: background-color 0.2s;
color: azure;
}
  
.nav-link:hover {
background-color: rgba(28, 15, 37, 0.1);
}

@media (max-width: 768px) {
.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
}

.navbar-links {
    gap: 1rem;
}

.nav-link {
    padding: 0.5rem;
}

